deepseek-conversion/DeepSeek-R1-Distill-Qwen-1.5B
deepseek-conversion/.venv
DEPRECATED
llama3-conversion/Llama3Stateful_Pal4_LUT8.mlpackage
llama3-conversion/Llama3Stateful_Pal4_FP16LUT.mlpackage
llama3-conversion/Llama1Stateful_Pal4_LUT8.mlpackage
llama3-conversion/Llama1Stateful_Pal4_FP16LUT.mlpackage
llama3-conversion/Llama1Stateful_FP16.mlpackage
llama3-conversion/env
llama3-conversion/.venv
mistral-conversion/.venv
prospective-models
hi.md
kv.md
mps.md
project.MD
prompt.md
Mantle/Mantle/Llama1Stateful_FP16.mlpackage